* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.card {
  display: flex;
  border: solid 1px;
  justify-content: space-between;
  width: 350px;
  height: 350px;
}

.card__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10px;
}

.card__right {
  display: flex;
}

.card__right svg {
  margin-top: 10px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
