$widthDuck: 250px;
$countDuck: 10;

@keyframes dog-step {
  0% {
    left: -250px;
    top: 70vh;
  }

  100% {
    left: 100vw;
    top: 70vh;
  }
}

@for $i from 1 through $countDuck {
  @keyframes duck-fly-left-#{$i} {
    0% {
      left: -$widthDuck;
      top: random(65) + vh;
    }
    50% {
      left: random(65) + vw;
      top: random(65) + vh;
    }
    100% {
      left: 100vw;
      top: random(65) + vh;
    }
  }
}

@for $i from 1 through $countDuck {
  @keyframes duck-fly-right-#{$i+1} {
    0% {
      right: -$widthDuck;
      top: random(65) + vh;
    }
    50% {
      right: random(65) + vw;
      top: random(65) + vh;
    }
    100% {
      right: 100vw;
      top: random(65) + vh;
    }
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(./img/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.duck {
  position: absolute;
  &__check {
    position: absolute;
    visibility: hidden;
    left: -99999999px;

    &:checked {
      counter-increment: count;
    }

    &:checked ~ .duck__img {
      display: none;
    }
  }

  &__img {
    max-width: $widthDuck;
    min-width: 100px;
  }

  @for $i from 1 through $countDuck {
    &_#{$i} {
      animation: duck-fly-left-#{$i} 4s linear #{$i + 2}s both;
    }
  }

  @for $i from 2 through $countDuck {
    &_#{$i + 4} {
      animation: duck-fly-right-#{$i} 4s linear #{$i + 2}s both;
      transform: scale(-1, 1);
    }
  }
}

.counter-info {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;

  &::before {
    content: counter(count);
  }
}

.dog {
  position: absolute;
  width: 250px;
  animation: dog-step 7s linear both;
}

@media (width <= 768px) {
  .duck__img {
    width: 200px;
  }

  .dog {
    width: 200px;
  }
}

@media (width <= 425px) {
  .duck__img {
    width: 150px;
  }

  .dog {
    width: 150px;
  }
}

@media (width = 320px) {
  .duck__img {
    width: 100px;
  }

  .dog {
    width: 100px;
  }
}
