@keyframes duck-fly-1 {
  0% {
    left: -250px;
    top: 59vh;
  }
  50% {
    left: 6vw;
    top: 81vh;
  }
  100% {
    left: 100vw;
    top: 45vh;
  }
}
@keyframes duck-fly-2 {
  0% {
    left: -250px;
    top: 28vh;
  }
  50% {
    left: 26vw;
    top: 74vh;
  }
  100% {
    left: 100vw;
    top: 35vh;
  }
}
@keyframes duck-fly-3 {
  0% {
    left: -250px;
    top: 68vh;
  }
  50% {
    left: 27vw;
    top: 4vh;
  }
  100% {
    left: 100vw;
    top: 51vh;
  }
}
@keyframes duck-fly-4 {
  0% {
    left: -250px;
    top: 17vh;
  }
  50% {
    left: 44vw;
    top: 67vh;
  }
  100% {
    left: 100vw;
    top: 87vh;
  }
}
@keyframes duck-fly-5 {
  0% {
    left: -250px;
    top: 20vh;
  }
  50% {
    left: 49vw;
    top: 39vh;
  }
  100% {
    left: 100vw;
    top: 45vh;
  }
}
@keyframes duck-fly-6 {
  0% {
    left: -250px;
    top: 68vh;
  }
  50% {
    left: 9vw;
    top: 38vh;
  }
  100% {
    left: 100vw;
    top: 21vh;
  }
}
@keyframes duck-fly-7 {
  0% {
    left: -250px;
    top: 5vh;
  }
  50% {
    left: 63vw;
    top: 45vh;
  }
  100% {
    left: 100vw;
    top: 80vh;
  }
}
@keyframes duck-fly-8 {
  0% {
    left: -250px;
    top: 59vh;
  }
  50% {
    left: 59vw;
    top: 24vh;
  }
  100% {
    left: 100vw;
    top: 65vh;
  }
}
@keyframes duck-fly-9 {
  0% {
    left: -250px;
    top: 89vh;
  }
  50% {
    left: 2vw;
    top: 75vh;
  }
  100% {
    left: 100vw;
    top: 18vh;
  }
}
@keyframes duck-fly-10 {
  0% {
    left: -250px;
    top: 89vh;
  }
  50% {
    left: 56vw;
    top: 82vh;
  }
  100% {
    left: 100vw;
    top: 51vh;
  }
}
html,
body {
  overflow-x: hidden;
}

body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(./img/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.duck {
  position: absolute;
}
.duck__check {
  position: absolute;
  visibility: hidden;
  left: -99999999px;
}
.duck__check:checked {
  counter-increment: count;
}
.duck__check:checked ~ .duck__img {
  display: none;
}
.duck__img {
  max-width: 250px;
  min-width: 100px;
}
.duck_1 {
  animation: duck-fly-1 4s linear 2s both;
}
.duck_2 {
  animation: duck-fly-2 4s linear 3s both;
}
.duck_3 {
  animation: duck-fly-3 4s linear 4s both;
}
.duck_4 {
  animation: duck-fly-4 4s linear 5s both;
}
.duck_5 {
  animation: duck-fly-5 4s linear 6s both;
}
.duck_6 {
  animation: duck-fly-6 4s linear 7s both;
}
.duck_7 {
  animation: duck-fly-7 4s linear 8s both;
}
.duck_8 {
  animation: duck-fly-8 4s linear 9s both;
}
.duck_9 {
  animation: duck-fly-9 4s linear 10s both;
}
.duck_10 {
  animation: duck-fly-10 4s linear 11s both;
}

.counter-info {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
}
.counter-info::before {
  content: counter(count);
}

@media (width <= 768px) {
  .duck__img {
    width: 200px;
  }
}
@media (width <= 425px) {
  .duck__img {
    width: 150px;
  }
}
@media (width = 320px) {
  .duck__img {
    width: 100px;
  }
}/*# sourceMappingURL=style.css.map */