@keyframes dog-step {
  0% {
    left: -250px;
    top: 70vh;
  }
  100% {
    left: 100vw;
    top: 70vh;
  }
}
@keyframes dog-step-reverse {
  0% {
    right: -400px;
    top: 70vh;
  }
  100% {
    right: 100vw;
    top: 70vh;
  }
}
@keyframes duck-fly-left-1 {
  0% {
    left: -250px;
    top: 49vh;
  }
  50% {
    left: 7vw;
    top: 33vh;
  }
  100% {
    left: 100vw;
    top: 28vh;
  }
}
@keyframes duck-fly-left-2 {
  0% {
    left: -250px;
    top: 54vh;
  }
  50% {
    left: 33vw;
    top: 43vh;
  }
  100% {
    left: 100vw;
    top: 24vh;
  }
}
@keyframes duck-fly-left-3 {
  0% {
    left: -250px;
    top: 46vh;
  }
  50% {
    left: 54vw;
    top: 11vh;
  }
  100% {
    left: 100vw;
    top: 14vh;
  }
}
@keyframes duck-fly-left-4 {
  0% {
    left: -250px;
    top: 61vh;
  }
  50% {
    left: 19vw;
    top: 25vh;
  }
  100% {
    left: 100vw;
    top: 27vh;
  }
}
@keyframes duck-fly-left-5 {
  0% {
    left: -250px;
    top: 46vh;
  }
  50% {
    left: 44vw;
    top: 54vh;
  }
  100% {
    left: 100vw;
    top: 29vh;
  }
}
@keyframes duck-fly-left-6 {
  0% {
    left: -250px;
    top: 38vh;
  }
  50% {
    left: 58vw;
    top: 59vh;
  }
  100% {
    left: 100vw;
    top: 59vh;
  }
}
@keyframes duck-fly-left-7 {
  0% {
    left: -250px;
    top: 21vh;
  }
  50% {
    left: 58vw;
    top: 43vh;
  }
  100% {
    left: 100vw;
    top: 33vh;
  }
}
@keyframes duck-fly-left-8 {
  0% {
    left: -250px;
    top: 44vh;
  }
  50% {
    left: 12vw;
    top: 57vh;
  }
  100% {
    left: 100vw;
    top: 15vh;
  }
}
@keyframes duck-fly-left-9 {
  0% {
    left: -250px;
    top: 13vh;
  }
  50% {
    left: 26vw;
    top: 27vh;
  }
  100% {
    left: 100vw;
    top: 16vh;
  }
}
@keyframes duck-fly-left-10 {
  0% {
    left: -250px;
    top: 50vh;
  }
  50% {
    left: 11vw;
    top: 65vh;
  }
  100% {
    left: 100vw;
    top: 55vh;
  }
}
@keyframes duck-fly-right-2 {
  0% {
    right: -250px;
    top: 13vh;
  }
  50% {
    right: 45vw;
    top: 14vh;
  }
  100% {
    right: 100vw;
    top: 65vh;
  }
}
@keyframes duck-fly-right-3 {
  0% {
    right: -250px;
    top: 26vh;
  }
  50% {
    right: 58vw;
    top: 45vh;
  }
  100% {
    right: 100vw;
    top: 64vh;
  }
}
@keyframes duck-fly-right-4 {
  0% {
    right: -250px;
    top: 58vh;
  }
  50% {
    right: 2vw;
    top: 43vh;
  }
  100% {
    right: 100vw;
    top: 21vh;
  }
}
@keyframes duck-fly-right-5 {
  0% {
    right: -250px;
    top: 9vh;
  }
  50% {
    right: 42vw;
    top: 28vh;
  }
  100% {
    right: 100vw;
    top: 60vh;
  }
}
@keyframes duck-fly-right-6 {
  0% {
    right: -250px;
    top: 27vh;
  }
  50% {
    right: 49vw;
    top: 40vh;
  }
  100% {
    right: 100vw;
    top: 32vh;
  }
}
@keyframes duck-fly-right-7 {
  0% {
    right: -250px;
    top: 17vh;
  }
  50% {
    right: 18vw;
    top: 50vh;
  }
  100% {
    right: 100vw;
    top: 8vh;
  }
}
@keyframes duck-fly-right-8 {
  0% {
    right: -250px;
    top: 47vh;
  }
  50% {
    right: 14vw;
    top: 26vh;
  }
  100% {
    right: 100vw;
    top: 65vh;
  }
}
@keyframes duck-fly-right-9 {
  0% {
    right: -250px;
    top: 29vh;
  }
  50% {
    right: 18vw;
    top: 1vh;
  }
  100% {
    right: 100vw;
    top: 9vh;
  }
}
@keyframes duck-fly-right-10 {
  0% {
    right: -250px;
    top: 28vh;
  }
  50% {
    right: 62vw;
    top: 43vh;
  }
  100% {
    right: 100vw;
    top: 37vh;
  }
}
@keyframes duck-fly-right-11 {
  0% {
    right: -250px;
    top: 12vh;
  }
  50% {
    right: 33vw;
    top: 58vh;
  }
  100% {
    right: 100vw;
    top: 54vh;
  }
}
html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  counter-reset: count;
  height: 100vh;
  margin: 0;
  background-image: url(./img/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.duck {
  position: absolute;
}
.duck__check {
  position: absolute;
  visibility: hidden;
  left: -99999999px;
}
.duck__check:checked {
  counter-increment: count;
}
.duck__check:checked ~ .duck__img {
  display: none;
}
.duck__img {
  max-width: 250px;
  min-width: 100px;
}
.duck_1 {
  animation: duck-fly-left-1 4s linear 3s both;
}
.duck_2 {
  animation: duck-fly-left-2 4s linear 4s both;
}
.duck_3 {
  animation: duck-fly-left-3 4s linear 5s both;
}
.duck_4 {
  animation: duck-fly-left-4 4s linear 6s both;
}
.duck_5 {
  animation: duck-fly-left-5 4s linear 7s both;
}
.duck_6 {
  animation: duck-fly-left-6 4s linear 8s both;
}
.duck_7 {
  animation: duck-fly-left-7 4s linear 9s both;
}
.duck_8 {
  animation: duck-fly-left-8 4s linear 10s both;
}
.duck_9 {
  animation: duck-fly-left-9 4s linear 11s both;
}
.duck_10 {
  animation: duck-fly-left-10 4s linear 12s both;
}
.duck_6 {
  animation: duck-fly-right-2 4s linear 4s both;
  transform: scale(-1, 1);
}
.duck_7 {
  animation: duck-fly-right-3 4s linear 5s both;
  transform: scale(-1, 1);
}
.duck_8 {
  animation: duck-fly-right-4 4s linear 6s both;
  transform: scale(-1, 1);
}
.duck_9 {
  animation: duck-fly-right-5 4s linear 7s both;
  transform: scale(-1, 1);
}
.duck_10 {
  animation: duck-fly-right-6 4s linear 8s both;
  transform: scale(-1, 1);
}
.duck_11 {
  animation: duck-fly-right-7 4s linear 9s both;
  transform: scale(-1, 1);
}
.duck_12 {
  animation: duck-fly-right-8 4s linear 10s both;
  transform: scale(-1, 1);
}
.duck_13 {
  animation: duck-fly-right-9 4s linear 11s both;
  transform: scale(-1, 1);
}
.duck_14 {
  animation: duck-fly-right-10 4s linear 12s both;
  transform: scale(-1, 1);
}

.counter-info {
  position: absolute;
  top: 24px;
  right: 24px;
  margin: 0;
}
.counter-info::before {
  content: counter(count);
}

.dog {
  position: absolute;
  width: 250px;
  animation: dog-step 7s linear 1s both;
}
.dog-1 {
  position: absolute;
  width: 400px;
  animation: dog-step-reverse 7s linear 7.5s both;
  transform: scale(-1, 1);
}

@media (width <= 768px) {
  .duck__img {
    width: 200px;
  }
  .dog {
    width: 200px;
  }
  .dog-1 {
    width: 350px;
    animation: dog-step-reverse 7s linear 6s both;
  }
}
@media (width <= 425px) {
  .duck__img {
    width: 150px;
  }
  .dog {
    width: 150px;
  }
  .dog-1 {
    width: 280px;
    animation: dog-step-reverse 7s linear 6s both;
  }
}
@media (width = 320px) {
  .duck__img {
    width: 130px;
  }
  .dog {
    width: 130px;
  }
  .dog-1 {
    width: 250px;
    animation: dog-step-reverse 7s linear 6s both;
  }
}/*# sourceMappingURL=style.css.map */