* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 600;
  background-color: #08101d;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 573px);
  padding-right: calc(50% - 573px);
}

.top {
  padding-bottom: 99px;
}

.header {
  display: flex;
  gap: 40px;
  padding: 39px;
  justify-content: center;
  background-color: #0a121f;
}

.header__link {
  text-decoration: none;
  color: var(--ffffff, #fff);
  font-size: 16px;
}

.top__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 128px;
  margin-top: 160px;
  margin-bottom: 197px;
}

.top__info {
  max-width: 604px;
}

.subtitle {
  color: var(--3-a-68-b-8, #3a68b8);
  font-size: 18px;
  font-style: normal;
  margin-bottom: 10px;
  line-height: 160%;
}

.title {
  color: var(--ffffff, #fff);
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 40px;
  line-height: 130%;
}

.text {
  max-width: 558px;
  color: #b4b7bb;
  font-size: 18px;
  font-weight: 600;
  line-height: 160%;
}

.top__buttons {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

.button {
  color: var(--ffffff, #fff);
  font-size: 20px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: var(--3-a-68-b-8, #3a68b8);
}

.button1 {
  min-width: 171px;
  min-height: 57px;
}

.button2 {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 217px;
  min-height: 57px;
}

.top__logos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 71px;
}

.content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 362px);
  justify-content: center;
  padding-top: 264px;
  padding-bottom: 243px;
  background: var(--020-a-18, #020a18);
}

.block {
  display: grid;
  justify-items: center;
  padding: 30px;
  gap: 30px;
  border-radius: 10px;
  background: #132035;
}

.block4 {
  padding-bottom: 144px;
  grid-column: span 2;
  grid-row: span 2;
  gap: 60px;
}

.block__title {
  color: #b8bcc2;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  line-height: 125%;
}

.block__text {
  color: #b8bcc2;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}

@media (max-width: 1024px) {
  .top {
    margin-bottom: 120px;
  }

  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .subtitle {
    font-size: 16px;
  }

  .title {
    font-size: 48px;
  }

  .top__logos {
    gap: 32px;
    max-width: 650px;
    margin: auto;
  }

  .content {
    grid-template-columns: repeat(1, 362px);
    gap: 32px;
  }

  .block4 {
    grid-column: span 1;
    grid-row: span 1;
    gap: 30px;
    padding-bottom: 30px;
  }

  .block4 img {
    width: 98px;
  }
}
